.register-item {
    width: 380px;
}
.form-pair {
    gap: 20px;
}
.register-item {
    width: 400px;
    margin-top: 0.25rem;
}
.btn-orange {
    color: var(--white);
    background-color: var(--orange);
}
.btn-orange:hover {
    background-color: var(--orange-light);
    color: var(--orange);
    border: 1px solid var(--orange);
}
.register-item small {
    font-size: 11px;
    padding: 0.5rem 5px;
    color: rgb(85, 85, 85);
}
.register-item small .link:hover {
    color: var(--orange);
}
.form-pair ~ .register-item {
    margin-top: 40px;
}
