:root {
    --orange: #ff8000;
    --orange-light: #ffe6cc;
    --white: #e6e6e6;
    --black: #141414;
}
.orange {
    color: var(--orange);
}
.orange-bg {
    background-color: var(--orange);
}
.orange-light {
    color: var(--orange-light);
}
.orange-light-bg {
    background-color: var(--orange-light);
}
