.nav-bar {
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding-inline: 24px;
}
.logo {
    height: 55px;
}
.pfp {
    margin-left: 15px;
    height: 45px;
    width: 45px;
    background-color: aqua;
}
.pfp img {
    cursor: pointer;
}
.user-nav {
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.nav-item {
    height: 100%;
    padding-inline: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
