.form-input-wrapper {
    margin-top: 20px;
    width: 100%;
    position: relative;
    height: 40px;
}
.form-label,
.form-input {
    font-size: 16px;
}
.form-input {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--orange);
    position: absolute;
    inset: 0 0 0 0;
    padding-inline: 15px;
    background: none;
}
.form-input:-webkit-autofill,
.form-input:-webkit-autofill:hover,
.form-input:-webkit-autofill:focus,
.form-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.form-label {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 15px;
    color: grey;
    transform: translateY(-50%);
    transition: 0.5s ease-in;
}
.form-input:focus + .form-label,
.visible-value {
    transform: translateY(-170%);
    transition: 0.5s ease-out;
}
